<div class="container-fluid mb-4">
    <mat-form-field class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6">
        <mat-label>Employee</mat-label>
        <mat-select  [(ngModel)]="salary_details.employee_id" (selectionChange)="getEmployeeSalaryDetails(salary_details.employee_id, salary_details.salaryMonth)">
            <mat-option *ngFor="let _obj of EmployeeDetails"  [value]="_obj.id">{{_obj.name}}</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6" *ngIf="salary_details.employee_id != undefined && salary_details.employee_id != null">
        <mat-label>Salary Month</mat-label>
        <input type="month" matInput  [(ngModel)]="salary_details.salaryMonth"  (change)="getEmployeeSalaryDetails(salary_details.employee_id,salary_details.salaryMonth)"/>
    </mat-form-field>

    <div class="container mt-4 mb-4" id="salary-slip" *ngIf="companyDetails != undefined && attendancedetails != undefined && salaryDetails != undefined">
            <div class="row border border-dark">
                <div class="col-12 text-center border border-dark">Salary Slip for the month {{selectedMonth}}</div>
                <div class="col-12">
                <div class="row border border-dark">
                <div class="col-3 col-md-3 col-lg-3 col-xl-3 text-center">
                    <img [src]="companyDetails.logo" class=" col-6 img-fluid"/>
                </div>
                <div class="col-9 col-md-9 col-lg-9 col-xl-9 text-center mt-auto mb-auto">
                    <div class="company-heading p-2">{{companyDetails.name | uppercase }}</div>
                    <div>{{companyDetails.address_line1}}<span *ngIf="companyDetails.address_line2 != null && companyDetails.address_line2 != undefined && companyDetails.address_line2 != ''">, {{companyDetails.address_line2}}</span><span *ngIf="companyDetails.zip != null && companyDetails.zip != undefined && companyDetails.zip != ''">, {{companyDetails.zip}}.</span></div>
                </div>
                </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 border border-dark">
                    <strong>Name: {{attendancedetails.name}}</strong>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 border border-dark">
                    <strong>Designation: {{attendancedetails.designationname}} <sub>({{attendancedetails.rolename}})</sub></strong>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 border border-dark">
                    <strong>Joining Date: {{attendancedetails.joining_date}}</strong>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12 border border-dark">
                    <strong>Salary Date: {{attendancedetails.salary_date}}</strong>
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-sm-6 border border-dark">
                    <strong>Working Days: {{attendancedetails.no_days}}</strong>
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-sm-6 border border-dark">
                    <strong>Present Days: <input type="number" class="form-control-sm" [(ngModel)]="attendancedetails.total_present_days_count" (blur)="getTotal(fixed_earning);claculateGrossAmount(totalEarnedComponent)"/></strong>
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-sm-6 border border-dark">
                    <strong>Half Days: <input type="number" class="form-control-sm" [(ngModel)]="attendancedetails.half_days_count" (blur)="getTotal(fixed_earning);claculateGrossAmount(totalEarnedComponent)"/></strong>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border border-dark">
                   <div class="table-responsive">
                       <table class="table">
                           <thead class="text-nowrap">
                               <th>Earnings</th>
                               <th>Fixed Amount</th>
                               <th>Earned Amount</th>
                           </thead>
                           <tbody>
                            <tr *ngFor="let _data of fixed_earning">
                                <td>{{_data.type | uppercase}}</td>
                                <td class="text-right">{{_data.amount | number:'0.2' }}</td>
                                <td class="text-right">{{getRoundedAmount((_data.amount/attendancedetails.no_days) * (attendancedetails.total_present_days_count + attendancedetails.half_days_count/2))}}</td>
                            </tr>
                            <tr>
                                <td><b>TOTAL</b></td>
                                <td class="text-right"><b>{{totalFixedComponent | number:'0.2' }}</b></td>
                                <td class="text-right"><input type="number" (change)="checkTotalMatch()" [(ngModel)]="totalEarnedComponent" (blur)="claculateGrossAmount(totalEarnedComponent)"/></td>
                            </tr>
                            <tr *ngFor="let _data of expances_earning">
                                <td>{{_data.type | uppercase}}</td>
                                <td class="text-right">{{_data.amount | number:'0.2' }}</td>
                                <td class="text-right">{{_data.amount | number:'0.2' }}</td>
                            </tr>
                           </tbody>
                       </table>
                   </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border border-dark">
                   <div class="table-responsive">
                       <table class="table">
                           <thead class="text-nowrap">
                               <th class="text-success"><!-- <i class="fa fa-plus cursor-pointer" aria-hidden="true" (click)="addCustomeDeduction()"></i> --></th>
                               <th>Deductions</th>
                               <th>Amount</th>
                           </thead>
                           <tbody>
                               <tr *ngFor="let _data of deductions; let i = index">
                                   <td class="text-danger"><i class="fa fa-times cursor-pointer" (click)="removeDeduction(i)" aria-hidden="true"></i></td>
                                   <td><span *ngIf="_data.custome && _data.custome == 1"><input class="form-control form-control-sm" ([ngModel])="_data.type"/></span><span *ngIf="!_data.custome || _data.custome != 1"> {{_data.type | uppercase}}</span></td>
                                   <td><span *ngIf="_data.custome && _data.custome == 1"><input type="number" class="form-control form-control-sm" ([ngModel])="_data.amount" (blur)="calculateDeduction()"/></span><span *ngIf="!_data.custome || _data.custome != 1"> {{_data.amount | number:'0.2'}}</span></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border border-dark">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6"><b>TOTAL GROSS PAY</b></div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6 text-right"><b>{{grossSalary | number:'0.2'}}</b></div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border border-dark">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6"><b> DEDUCTION TOTAL</b></div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6 text-right"><b>{{total_deduction | number:'0.2'}}</b></div>
                    </div>
                </div>
                <div class="col-12 border border-dark">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6"><b> NET PAY</b></div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6 text-right"><b>{{grossSalary - total_deduction | number:'0.2'}}</b></div>
                    </div>
                </div>
                <div class="col-12 border border-dark">
                    <b>RUPEES {{getAmountInNumber(grossSalary - total_deduction) | uppercase}} ONLY.</b>
                </div>

            </div>
    </div>


    <div  id="print" hidden *ngIf="companyDetails != undefined && attendancedetails != undefined && salaryDetails != undefined">
        <table class="table table-bordered ml-2 mr-2 mt-4" style="width: 6.21in;">
            <tbody>
                <tr>
                    <td colspan="4" class="text-center">Salary Slip for the month {{selectedMonth}}</td>
                </tr>
                <tr>
                    <td class="text-left" style="border-right:0 !important;"><img [src]="companyDetails.logo" class="img-fluid" style="width:100px;height:auto"/></td>
                    <td colspan="3" style="border-left:0 !important;" class="text-center"> <div class="company-heading mt-2 p-2">{{companyDetails.name | uppercase }}</div>
                        <div>{{companyDetails.address_line1}}<span *ngIf="companyDetails.address_line2 != null && companyDetails.address_line2 != undefined && companyDetails.address_line2 != ''">, {{companyDetails.address_line2}}</span><span *ngIf="companyDetails.zip != null && companyDetails.zip != undefined && companyDetails.zip != ''">, {{companyDetails.zip}}.</span></div></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Name: {{attendancedetails.name}}</b></td>
                    <td colspan="2"><b>Designation: {{attendancedetails.rolename}}</b></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Joining Date: {{attendancedetails.joining_date}}</b></td>
                    <td colspan="2"><b>Salary Date: {{attendancedetails.salary_date}}</b></td>
                </tr>
                <tr>
                    <td><b>Working Days: {{attendancedetails.no_days}}</b></td>
                    <td><b>Present Days: {{attendancedetails.total_present_days_count}}</b></td>
                    <td><b>Half Days: {{attendancedetails.half_days_count}}</b></td>
                    <td><b>Latemarks: {{attendancedetails.latemarks_count}}</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table borderless" style="border:0 !important;">
                         
                               <th  style="border:0 !important;" class="text-nowrap border-bottom text-center">Earnings</th>
                               <th  style="border:0 !important;" class="text-nowrap border-bottom text-center">Fixed Amount</th>
                               <th  style="border:0 !important;" class="text-nowrap border-bottom text-center">Earned Amount</th>
                           
                           
                            <tr  style="border:0 !important;" *ngFor="let _data of fixed_earning">
                                <td  style="border:0 !important;">{{_data.type | uppercase}}</td>
                                <td  style="border:0 !important;" class="text-right">{{_data.amount | number:'0.2' }}</td>
                                <td  style="border:0 !important;" class="text-right">{{getRoundedAmount((_data.amount/attendancedetails.no_days) * (attendancedetails.total_present_days_count + attendancedetails.half_days_count/2))}}</td>
                            </tr>
                            <tr  style="border:0 !important;">
                                <td  style="border:0 !important;"><b>TOTAL</b></td>
                                <td  style="border:0 !important;" class="text-right"><b>{{totalFixedComponent | number:'0.2' }}</b></td>
                                <td  style="border:0 !important;" class="text-right"><b>{{totalEarnedComponent | number:'0.2'}}</b></td>
                            </tr>
                            <tr  style="border:0 !important;" *ngFor="let _data of expances_earning">
                                <td  style="border:0 !important;">{{_data.type | uppercase}}</td>
                                <td  style="border:0 !important;" class="text-right">{{_data.amount | number:'0.2' }}</td>
                                <td  style="border:0 !important;" class="text-right">{{_data.amount | number:'0.2' }}</td>
                            </tr>
                           
                       </table>
                    </td>
                    <td colspan="2">
                        <table class="table borderless" style="border:0 !important;">
                         
                              
                               <th  style="border:0 !important;" class="text-nowrap border-bottom text-center">Deductions</th>
                               <th  style="border:0 !important;" class="text-nowrap border-bottom text-center">Amount</th>
                          
                               <tr  style="border:0 !important;" *ngFor="let _data of deductions; let i = index">
                                  
                                   <td  style="border:0 !important;"><span *ngIf="_data.custome && _data.custome == 1"><input class="form-control form-control-sm" ([ngModel])="_data.type"/></span><span *ngIf="!_data.custome || _data.custome != 1"> {{_data.type | uppercase}}</span></td>
                                   <td  style="border:0 !important;"><span *ngIf="_data.custome && _data.custome == 1"><input type="number" class="form-control form-control-sm" ([ngModel])="_data.amount" (blur)="calculateDeduction()"/></span><span *ngIf="!_data.custome || _data.custome != 1"> {{_data.amount | number:'0.2'}}</span></td>
                               </tr>
                           
                       </table>
                    </td>
                </tr>
                <tr>
                    <td><b>TOTAL GROSS PAY</b></td>
                    <td class="text-right"><b>{{grossSalary | number:'0.2'}}</b></td>
                    <td><b>DEDUCTION TOTAL</b></td>
                    <td class="text-right"><b>{{total_deduction | number:'0.2'}}</b></td>
                </tr>
                <tr>
                    <td colspan="2"><b>NET PAY</b></td>
                    <td colspan="2" class="text-right"><b>{{grossSalary - total_deduction | number:'0.2'}}</b></td>
                </tr>
                <tr>
                    <td colspan="4"><b><b>RUPEES {{getAmountInNumber(grossSalary - total_deduction) | uppercase}} ONLY.</b></b></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container text-center" *ngIf="(grossSalary - total_deduction) > 0">
        <button class="btn btn-primary" (click)="saveSalarySlip()">Save</button>&nbsp;
        <button class="btn btn-primary" *ngIf="existing_salary_id != undefined && existing_salary_id >0" (click)="openPdf()">Open PDF</button>
    </div>

    </div>