<div class="container-fluid">
    <div class="col-12">
        <button mat-raised-button color="primary" [routerLink]="['/', 'siteadmin', 'product_units_details',0]">Add New</button>&nbsp;
        <button mat-raised-button color="primary" (click)="openUploadDialog()">Upload Product Units</button>&nbsp;
        <button mat-raised-button color="primary" (click)="openUploadImagesDialog()">Upload Product Units Images</button>&nbsp;
        <button mat-raised-button *ngIf="selectedRows && selectedRows.length == 1" color="primary" [routerLink]="['/', 'siteadmin', 'product_units_details',prd_unit_id]">Edit Unit</button>&nbsp;
       <!--  <button mat-raised-button *ngIf="selectedRows && selectedRows.length >= 1" color="primary" (click)="deleteProductUnit()">Deactivate Product Unit(s)</button> -->
    </div>
    <div class="col-12 mt-2">
        <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [enableRangeSelection]="true"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [rowData]="rowData"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)"
        >
    </ag-grid-angular>
    </div>
</div>
