<div class="container-fluid">
    <mat-form-field class="col-12 col-lg-6 col-md-12 col-sm-12">
        <mat-label>Vendor</mat-label>
            <input matInput [(ngModel)]="goodsDetails.vendor_name" disabled>
      </mat-form-field>  
    <mat-form-field class="col-12 col-lg-6 col-md-12 col-sm-12">
        <mat-label>Purchase Date</mat-label>
            <input matInput [(ngModel)]="goodsDetails.po_date" disabled>
      </mat-form-field>  
      
      <div class="row">
      <div class="col-12 col-lg-6 col-md-12 col-sm-12">
        <div class="row">
      <mat-form-field class="col-12 col-lg-6 col-md-12 col-sm-12">
        <mat-label>Goods Entry Date</mat-label>
            <input matInput [(ngModel)]="goodsDetails.gr_date" (focus)="picker1.open()" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>  

      <mat-form-field class="col-12 col-lg-6 col-md-12 col-sm-12">
        <mat-label>Gross Amount</mat-label>
            <input matInput [(ngModel)]="goodsDetails.gross_amount" readonly>
      </mat-form-field>  
      </div>
      </div>
      <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <mat-form-field class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <mat-label>CGST</mat-label>
                        <input matInput type="number" [(ngModel)]="goodsDetails.cgst" (change)="calculatenetAmount()">
                        <mat-hint align="end">{{goodsDetails.cgstAmount | currency:"₹"}}</mat-hint>
                  </mat-form-field>  
                <mat-form-field class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <mat-label>SGST</mat-label>
                        <input matInput type="number" [(ngModel)]="goodsDetails.sgst" (change)="calculatenetAmount()">
                        <mat-hint align="end">{{goodsDetails.sgstAmount | currency:"₹"}}</mat-hint>
                  </mat-form-field>  
                <mat-form-field class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <mat-label>IGST</mat-label>
                        <input matInput type="number" [(ngModel)]="goodsDetails.igst" (change)="calculatenetAmount()">
                        <mat-hint align="end">{{goodsDetails.igstAmount | currency:"₹"}}</mat-hint>
                  </mat-form-field>  
            </div>
      </div>
      </div>
      <div class="row">
            <div class="col-12 col-lg-4 col-md-12 col-sm-12 ml-auto">
                <mat-form-field class="col-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-label>Net Amount</mat-label>
                        <input matInput [(ngModel)]="goodsDetails.net_amount" readonly>
                  </mat-form-field> 
            </div>
      </div>
      <div class="col-12">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>#</th>
                            <th>Product</th>
                            <th>Product Unit</th>
                            <th>Purchase Qty.</th>
                            <th>Goods Qty.</th>
                            <th>Unit</th>
                            <th>Net Price</th>
                            <th>Unit Price</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _data of goodsDetails.PurchaseItems;let i = index">
                                <td><div class="mt-3 ml-4">{{i+1}}</div></td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input matInput [(ngModel)]="_data.product_name" disabled>
                                      </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input matInput [(ngModel)]="_data.product_unit" disabled>
                                      </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input type="number" matInput [(ngModel)]="_data.qty" disabled>
                                      </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input type="number" matInput [(ngModel)]="_data.gr_qty" (change)="calculateUnitPrice(_data)">
                                      </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input matInput [(ngModel)]="_data.unit" disabled>
                                      </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input type="number" matInput [(ngModel)]="_data.net_price" (change)="calculateUnitPrice(_data)">
                                      </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field class="col-12">
                                            <input type="number" matInput [(ngModel)]="_data.price" disabled>
                                      </mat-form-field>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      </div>

       <div class="col-12 mt-4 mb-2 text-center">
        <button mat-raised-button color="primary" (click)="updateGoodsRecieptsDetails()">Save</button>&nbsp;
        <button mat-raised-button color="accent" (click)="_location.back()">Cancel</button>
      </div> 
</div>